# this will only work on my vps.. sorry lol

ivy.rs, www.ivy.rs {
	root * ./srv
	file_server

    # not found handling
	handle_errors {
        @404 {
            expression {http.error.status_code} == 404
        }
        rewrite @404 /404.html
        file_server
	}

    # Enable gzip compression, logging, etc.
    encode zstd gzip
    log {
        output stdout
        format console
    }

    import ./redirects.caddyfile
}