---
import Page from "~/layouts/Page.astro";
import BlogPostList from "~/components/lists/BlogPostList.astro";
---

<Page
  title="Blog thing yes yes"
  description="A list of all my blog posts."
  icon="fa-solid fa-star"
>
  <p class="mb-6">
    My personal blog is <a class="link" href="https://concorde.blog">Concorde</a
    >, but here's where the technical stuff goes.
  </p>
  <BlogPostList />
</Page>
