---
import Layout from "~/layouts/Page.astro";
---

<Layout
  title="Contact"
  description="how to get a hold of me if you ever need to"
  icon="fa-solid fa-envelope"
>
  <p>
    I'm not really active on social media, but you can contact me via email.
  </p>
  <p>
    <a href="mailto:hello@ivyneeds.rest">hello@ivyneeds.rest</a>
  </p>
  <h3 class="text-lg font-bold my-2">where i am / where i'm not</h3>
  <ul class="fa-ul">
    <li>
      <i class="fa-li fa-brands fa-mastodon"></i>
      Fediverse: <a href="https://social.lol/ivy">@ivy@social.lol</a>
    </li>
    <li>
      <i class="fa-li fa-brands fa-github"></i>
      GitHub: <a href="https://github.com/ivyturner">@ivyturner</a>
    </li>
    <li>
      <i class="fa-li fa-brands fa-instagram"></i>
      Instagram: <a href="https://www.instagram.com/ivyturner">@ivyturner</a>
    </li>
    <li>
      <i class="fa-li fa-brands fa-twitter text-light-re dark:text-dark-re"></i>
      Twitter: haha fuck right off, elon should get his arms broken
    </li>
  </ul>
</Layout>
