---
import Layout from "~/layouts/Page.astro";
---

<Layout
	title="Contact"
	description="where i am & where i'm not"
	icon="fa-solid fa-envelope"
>
	<ul class="fa-ul">
		<li>
      <i class="fa-li fa-solid fa-envelope text-light-gr dark:text-dark-gr"></i>
			<a href="mailto:hello@ivyneeds.rest">ivy@omg.lol</a>
		</li>
    <br>
		<li>
			<i class="fa-li fa-brands fa-mastodon"></i>
			Fediverse: <a href="https://social.lol/@ivy">@ivy@social.lol</a>
		</li>
    <br>
		<li>
			<i class="fa-li fa-brands fa-github"></i>
			GitHub: <a href="https://github.com/ivyturner">@ivyturner</a>
    </li>
    <li>
      <i class="fa-li fa-solid fa-circle-notch"></i>
      Sourcehut: <a href="https://sr.ht/~la">~la</a> ()
    </li>
    <br>
		<li>
			<i class="fa-li fa-brands fa-instagram"></i>
			Instagram: <a href="https://www.instagram.com/ivyturner">@ivyturner</a>
		</li>
    <br>
		<li>
			<i class="fa-li fa-brands fa-twitter text-light-re dark:text-dark-re"></i>
			Twitter: haha fuck right off, elon should get his arms broken
		</li>
	</ul>
</Layout>
