---
import Layout from "~/layouts/Page.astro";
---

<Layout
  title="Verify"
  description="Everywhere you can find me, so you can check if it's me."
  icon="fa-solid fa-envelope"
>
  <ul>
    <li>
      Fediverse: <a href="https://social.lol/@ivy">@ivy@social.lol</a>,
      <a href="https://social.lol/@la">@la@social.lol</a>
    </li>
    <li>
      GitHub: <a href="https://github.com/ivyturner">@ivyturner</a>
      (previously @lxjv)
    </li>
    <li>
      Instagram: <a href="https://www.instagram.com/ivyturner">@ivyturner</a>
    </li>
  </ul>
</Layout>
