---
import Layout from "~/layouts/Base.astro";
import Header from "~/components/ui/Header.astro";
import Footer from "~/components/ui/Footer.astro";
import HeroSection from "~/components/home/Hero.astro";
import LatestBlogPosts from "~/components/home/LatestBlogPosts.astro";
import LatestNotes from "~/components/home/LatestNotes.astro";
---

<Layout>
  <Header />
  <HeroSection />
  <div class="md:flex md:flex-column gap-6">
    <LatestBlogPosts />
    <LatestNotes />
  </div>
</Layout>
<Footer />
