---
import Page from "~/layouts/Page.astro";
import { Content } from "~/content/now.md";
import Prose from "~/components/ui/Prose.astro"
---

<Page title="/now" icon="fa-solid fa-calendar-days" date="2025-03-17">
	<Prose>
		<Content />
	</Prose>
	<p class="text-light-tx-2 dark:text-dark-tx-2 mt-2">
		This is a <a href="https://sive.rs/nowff">/now page</a> and 
		<a href="https://nownownow.com/about">you should make one</a>, too.
	</p>
</Page>
