---
import "~/styles/global.css";
import Head from "~/components/ui/Head.astro";
import { ClientRouter } from "astro:transitions";
import SizeWarning from "~/components/ui/SizeWarning.astro";
---

<html class="bg-light-bg text-light-tx dark:bg-dark-bg dark:text-dark-tx">
  <Head />
  <body class="pl-1 md:px-24 sm:pt-2 md:pt-6">
    <ClientRouter />
    <SizeWarning />
    <slot />
  </body>
</html>