---
import "~/styles/global.css";
import Head from "~/components/util/Head.astro";
import { ClientRouter } from "astro:transitions";
import SizeWarning from "~/components/util/SizeWarning.astro";
import { isProd } from "~/lib/util";
import Notif from "~/components/ui/Notif.astro";

const { title, date, description } = Astro.props;
---

<html class="font-sans bg-light-bg text-light-tx dark:bg-dark-bg dark:text-dark-tx">
  <Head title={title} date={date} description={description} />
  <body class="md:px-24">
    <ClientRouter />
    <SizeWarning />
    <slot />
  </body>
</html>