---

---

<footer class="mt-12 text-sm text-light-tx-2 dark:text-dark-tx-2">
  <p>© {new Date().getFullYear()} Ivy Turner</p>
  <p>
    <a class="underline" href="https://github.com/ivyturner">github</a> ~
    <a class="underline" href="https://github.com/ivyturner/trellis">
      ivyturner/trellis
    </a>
  </p>
  <p>love yourself.</p>
</footer>
