---
import Navigation from "./Navigation.astro";
import conf from "~/site.config";

let headertext = conf.siteName;
let headerurl = "/";
let headerarrow = false;

function isBlog() {
  return Astro.url.pathname.startsWith("/blog");
}

if (isBlog()) {
  headertext = "Everything And The Girl";
  headerurl = "/blog";
  headerarrow = true;
}
---

<header class="md:flex md:justify-between md:items-center mb-4">
  <h1 class="text-2xl font-bold">
    {
      headerarrow && (
        <span class="mr-2">
          <a href="/">
            <i class="fa-solid fa-arrow-left text-light-pu dark:text-dark-pu" />
          </a>
        </span>
      )
    }
    <a href={headerurl}>{headertext}</a>
  </h1>
  <Navigation />
</header>
