---
const headerLinks = [
  {
    label: "About",
    href: "/about",
    icon: "fa-solid fa-user", // font awesome css class
  },
  {
    label: "/now",
    href: "/now",
    icon: "fa-solid fa-calendar-days"
  },
  {
    label: "Projects",
    href: "/projects",
    icon: "fa-solid fa-folder",
  },
  {
    label: "Notes",
    href: "/notes",
    icon: "fa-solid fa-sticky-note",
  },
  {
    label: "Blog",
    href: "/blog",
    icon: "fa-solid fa-star",
  },
  {
    label: "Contact",
    href: "/contact",
    icon: "fa-solid fa-envelope",
  }, 
];
---

<nav class="flex flex-row gap-4">
  {
    headerLinks.map((link) => (
      <span class="block bg-light-pu dark:bg-dark-pu text-black py-2 px-3 rounded-2xl">
        <i class={`${link.icon} mr-0.5 text-sm`} />
        <a
          href={link.href}
          class=""
        >
          {link.label}
        </a>
      </span>
    ))
  }
</nav>
