---

---

<div
  class="prose dark:prose-invert prose-p:text-light-tx dark:prose-p:text-dark-tx prose-h3:mt-1 prose-a:decoration-dotted prose-a:text-light-tx dark:prose-a:text-dark-tx prose-a:underline-offset-4 prose-a:decoration-2 prose-a:underline prose-a:decoration-light-pu dark:prose-a:decoration-dark-pu prose-ul:list-disc prose-strong:text-light-tx dark:prose-strong:text-dark-tx"
>
  <slot />
</div>
