---
import Date from "../util/Date.astro";

const { title, description, icon, date } = Astro.props;
---

<div class="mb-4 mt-6">
  <h2 class="text-xl font-bold">
    <i class={`${icon} text-xl mr-2 text-light-pu dark:text-dark-pu`}></i>
    {title}
  </h2>
  <p class="mt-2 text-sm text-light-tx-2 dark:text-dark-tx-2">{description}</p>
  {
    () => {
      if (date) {
        return (
          <p class="mt-2 text-sm text-light-tx-2 dark:text-dark-tx-2">
             <Date date={date} />
          </p>
        );
      }
    }
  }
</div>
